FIGMA_TOKEN=figd_XnQvTXuAB6b6zTfy_FjARTXtNCmqC-JiSoLsI-b2
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o